#box {
  width: 250px;
  height: 250px;
  background-color: hsl(0, 100%, 62%);
  font-size: 13em;
  text-align: center;
  animation-name: slideLeft;
  /* animation-name: slideRight; */
  /* animation-name: slideUp; */
  /* animation-name: glow; */
  animation-duration: 2s;
  animation-iteration-count: 5;
  animation-direction: normal;
  animation-play-state: running;
  animation-timing-function: cubic-bezier(0.28, 0.47, 0.45, 0.94);
  /* opacity: 0;
  /* opacity: 0; */
}

@keyframes slideLeft {
  from {
    transform: translateX(300%);
  }
}
@keyframes slideRight {
  to {
    transform: translateX(300%);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(300%);
  }
}
@keyframes slideDown {
  to {
    transform: translateY(300%);
  }
}
@keyframes rotateX {
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes rotateY {
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes rotateZ {
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate50 {
  50% {
    transform: rotateX(360deg);
  }
}
@keyframes rotate25 {
  25% {
    transform: rotateX(360deg);
  }
}
@keyframes grow {
    50%{
        transform: scale(2,2);
    }
}
@keyframes shrink {
    50%{
        transform: scale(.5,.5);
    }
}
@keyframes fade {
    50%{
        opacity: 0;
    }
}
@keyframes fadeIn {
    50%{
        opacity: 1;
    }
}
@keyframes colorChange {
    0%{background-color: hsl(0, 100%, 62%);}
    20%{background-color: hsl(39, 100%, 62%);}
    40%{background-color: hsl(77, 100%, 62%);}
    60%{background-color: hsl(173, 100%, 62%);}
    80%{background-color: hsl(236, 100%, 62%);}
    100%{background-color: hsl(286, 100%, 62%);}
}
@keyframes glow {
    50%{
        box-shadow: 0px 0px 50px rgb(42, 42, 255);
    }
}